{% extends "site_base.html" %}

{% block body_main %}


{% load crispy_forms_tags %}
{% crispy form  %}

{% if langlist %}

{% if msg %}
<p>{{ msg }}.</p>

{% endif %}

{% if errmsg %}
<div class="alert alert-warning" role="alert">
    <strong>Warning: </strong> {{ errmsg }}
</div>
{% endif %}



<table class="table">
  <tr>
    <th>Language</th>
    <th>Overall</th>
    <th>Phon. Score</th>
    <th>WALS</th>
    <th>Script</th>
  </tr>
  {% for lang in langlist %}
  <tr>
    <td><a href="/compare/{{method}}?l1={{tgtlang}}&l2={{lang.langid}}">{{ lang.langname }}</a></td>
    <td> {{ lang.overall }}</td>
    <td>{{ lang.phonscore }}</td>
    <td>{{lang.wals}}</td>
    <td>{{ lang.scriptdist }}</td></tr>
  {% endfor %}
</table>

{% else %}
    <p>Select a language from the dropdown list.</p>
{% endif %}


{% endblock %}
