{% extends "site_base.html" %}

{% block body_main %}


{% load crispy_forms_tags %}
{% crispy form  %}

{% if langlist %}

{% if msg %}
<p>{{ msg }}. For WALS: Distance is (0,1) and smaller distance means two languages are more similar. For UPSID: it's an integer (large range) and is the number of sounds that are shared between languages. Larger is better.</p>
{% endif %}

<table class="table">
  <tr><th>Language</th><th>Distance</th></tr>
  {% for lang in langlist %}
  <tr><td><a href="/compare/{{method}}?l1={{tgtlang}}&l2={{lang.langname}}">{{ lang.lang }}</a></td><td> {{ lang.score }}</td></tr>
  {% endfor %}
</table>

{% else %}
    <p>Select a language from the dropdown list.</p>
{% endif %}


{% endblock %}
